<!DOCTYPE html>
<html>
    <head>
        <title>Doohickies and Widgets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content">
            <navigation></navigation>
            <h1>Sign In</h1>
            <p>{{signInMessage}}</p>
            <form @submit.prevent="signIn()">
                <fieldset>
                    <legend>Account Details</legend>
                    <div id="dets">
                        <label>Username:</label><br>
                        <label>Password:</label><br>
                    </div>
                    <div>
                        <input type="text" id="username" v-model="customer.username" required><br>
                        <input type="password" id="password" v-model="customer.password" required><br>
                        <button type="submit">Sign In</button>
                    </div>
                </fieldset>
            </form>
            <p>
                If you don't have an account then you can <a id="create" href="register.html">create one</a>.
            </p>
        </main>
        <script type="module" src="js/customer.js"></script>
    </body>
</html>
