<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Examiner Finder</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
    </head>
<body class='indexPage'>
    <div class='header'>
            <img src="otago_uni_banner.jpg" alt='Otago University Banner' class='otagoUniBanner indexBanner'>
             
            <div class='indexPageTitle'>Examiner Finder</div>
    </div>
           
    <h3 class='indexSubTitle'> For Otago University PhD and Masters students</h3>

    <h3 class='indexPageText'>
        Please create an Examiner Finder account and log in to the web portal to select your examiner committee. All committees must be submitted for approval by June 2022.
    </h3>
            
    <a class='button indexButton' href="/login">Register as a student</a>       

    <a class='button indexButton' href="/login">Register as a convener</a>

</body>
</html>