/*
    Nick Meek 2016
    Primary style for MQEercise.html.
*/


/*
    Setting the box-sizing property to border-box simplifies width calculations
*/
* {
    box-sizing: border-box;
}

html {
    background-color: #eee;
    color: black;
}


body {
    max-width: 1000px;
    margin: 0 auto;
    color: #005;
    background-color: #eed;
    font-family: sans-serif;
}

article {
    margin: 0 auto;
}


/*    Some classes for making columns
*/

/*    Makes two column layout.
*/
.col-2 {
    width: 50%;
    float: left;
    border: 1px dotted;
}

/*    Makes three column layout.
*/
.col-3 {
    width: 33%;
    float: left;
}

/*    Makes four column layout.
*/
.col-4 {
    width: 25%;
    float: left;
}


/*    Styling for basic sections
*/
section h2 {
    text-align: center;
}

section div {
    text-align: justify;
    margin: 10px 20px;

}

/*    Makes the link text move slightly on hover
*/
section div a:hover {
    position: relative;
    top: 1px;
    left: 1px;
}


/* Navigation */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

nav li {
    float: left;
    width: 20%;

}

nav a {
    text-decoration: none;
    display: block;
    background-color: blue;
    color: white;
    padding: 3px 0;
}

nav a.currentPage {
    background-color: green;
    color: white;
}

/* Footer */
footer {
    clear: left;
}

@media only screen and (max-width:800px) {
    .col-4 {
        width: 50%;
    }
}

@media only all and (max-width:600px) {

    .col-2,
    .col-3,
    .col-4 {
        width: 100%;
        float: left;
    }

}

@media only screen and (max-width:600px) and (orientation:landscape) {
    html {
        color: inherit;
        background-color: red;
    }

    body {
        color: inherit;
        background-color: red;
    }
}
